table{
    overflow-x:auto
}
.tab{
    margin-left: 15px;
}
.mainTabs{
    width: 50px;
    overflow: hidden;
    transition: .5s;
}
.mainTabs:hover{
    width: 30%;
}
.w80PX{
    width: 80px;
}
.dashPostImg{
    width: 80px;
    height: 100%;
}
.tabText{
    color: white;
}
.active-text{
    @apply text-emerald-500
}
.adsImg{
    width: 150px;
}
@media only screen and (max-width: 800px){
    .mainTabs:hover{
        position: fixed;
        z-index: 999;

        @apply w-screen h-screen
    }
  }
@media only screen and (max-width: 600px){
    .mainTabs:hover{
        position: fixed;
        z-index: 999;
        @apply w-screen h-screen
    }
  }
